[Unit]
 Description=Logit service
 
 [Service]
 Environment="DISPLAY=:1"
 Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
 User=tobor
 ExecStart=/bin/bash /opt/logit.sh
 
 [Install]
 WantedBy=multi-user.target
