[Unit]
Description=Logit service

[Service]
Environment="DISPLAY=:0"
User=markroxor
ExecStart=/bin/bash /opt/logit.sh

[Install]
WantedBy=multi-user.target
