<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>elon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>/Users/mark/user_name/Darwin/elon.sh</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/elon.std</string>
    <key>StandardErrorPath</key>
    <string>/tmp/elon.error</string>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
